<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <style>
        body{
            background-color: black;
        }
        h1{
            background-color: white;
            text-align: center;
        }
        h3{
            background-color: orange;
            text-align: center;
        }
        p{
            background-color: white;
            text-align: center;
        }
        div{
            background-color: aqua;
        }
    </style>
</head>
<body>
    <div>
        <h1>Let's Play With Another File </h1>
        <ul>
            <h3>Information</h3>
            <li>
                <p>About EJS</p>
                <br>
                <p>Express</p>
            </li>
        </ul>
    </div>
</body>
</html>